/* Main content styles */
.container {
    margin: 120px 20px 20px;
    padding: 0 20px;
    margin-bottom: 400px;
}

.section-about {
    text-align: left;
    margin-bottom: 20px;
    margin-top: 200px;
}

.section-about h2 {
    font-size: 1.75rem;
    font-weight: bold;
    letter-spacing: -.04em;
    font-family: "Segoe UI VSS (Regular)","Segoe UI","-apple-system",BlinkMacSystemFont,Roboto,"Helvetica Neue",Helvetica,Ubuntu,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    margin-bottom: 20px;
}

.section-about p {
    font-size: .875rem;
    font-family: "Segoe UI VSS (Regular)","Segoe UI","-apple-system",BlinkMacSystemFont,Roboto,"Helvetica Neue",Helvetica,Ubuntu,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    max-width: 750px;
}

.line-about {
    width: 100%;
    border-top: 1px solid #ccc;
    margin-top: 100px;
}

.section-ourmission {
    margin-bottom: 100px;
    max-width: 750px;
}

.section-ourmission h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1.3125rem;
    font-weight: 600;
    letter-spacing: -.02em;
    font-family: "Segoe UI VSS (Regular)","Segoe UI","-apple-system",BlinkMacSystemFont,Roboto,"Helvetica Neue",Helvetica,Ubuntu,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.section-ourmission p {
    margin-bottom: 20px;
    font-size: .875rem;
    font-family: "Segoe UI VSS (Regular)","Segoe UI","-apple-system",BlinkMacSystemFont,Roboto,"Helvetica Neue",Helvetica,Ubuntu,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.line-ourmission {
    width: 100%;
    border-top: 1px solid #ccc;
    margin-top: 100px;
}
