/* Reset default browser styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Segoe UI VSS (Regular)","Segoe UI","-apple-system",BlinkMacSystemFont,Roboto,"Helvetica Neue",Helvetica,Ubuntu,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

/* Header styles */
header {
    background-color: #fff;
    color: #1F1F1F;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    line-height: 130%;
    letter-spacing: 0;
    position: fixed; /* Add this property to make the header fixed */
    top: 0; /* Stick it to the top of the viewport */
    width: 100%; /* Make it full-width */
    z-index: 1000; /* Ensure it's above other content */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 a span img {
    max-width: 40px; /* Adjust the maximum width of the image as needed */
    margin-right: 5px; /* Adjust the margin as needed */
}

header h1 {
    display: flex;
    align-items: center;
    margin: 0;
}

header h1 a {
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    color: #1F1F1F;
    text-decoration: none;
    display: flex; /* Add display: flex */
    align-items: center; /* Align text vertically with the image */
}

/* Navigation styles */
nav {
    background-color: #fff;
    padding: 10px;
    text-align: left;
    margin-left: 150px;
    width: 100px; /* Adjust the width as needed */
    float: left; /* Float the navigation to the left side */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 5px;
}

nav ul li a {
    color: #1F1F1F;
    text-decoration: none;
    padding: 5px 5px;
    background-color: #fff;
    font-size: 1rem;
    letter-spacing: 0;
}

/* Add white underline on hover */
header nav ul li a:hover {
    border-bottom: 2px solid #1F1F1F;
}

/* Footer styles */
footer {
    background-color: #1F1F1F;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: .875rem;
    font-family: "Segoe UI VSS (Regular)","Segoe UI","-apple-system",BlinkMacSystemFont,Roboto,"Helvetica Neue",Helvetica,Ubuntu,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";;
}

footer a {
    color: #fff;
    text-decoration: underline;
}