.container {
    width: auto;
    margin-top: 100px;
    position: relative;
}

.box-item {
    width: auto;
    border-top: 1px solid #ccc;
    border-left: 10px solid brown;
    padding: 10px;
    margin-top: 10px;
    position: relative;
}

.label-item {
    color: blue;
    font-size: .875rem;
    font-family: "Segoe UI VSS (Regular)","Segoe UI","-apple-system",BlinkMacSystemFont,Roboto,"Helvetica Neue",Helvetica,Ubuntu,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.label-item i {
    color: brown;
}

.label-nameofcity {
    margin-top: 10px;
    font-family: "Segoe UI VSS (Regular)","Segoe UI","-apple-system",BlinkMacSystemFont,Roboto,"Helvetica Neue",Helvetica,Ubuntu,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 100%;
}

.label-commentsandtags {
    color: blue;
    margin-top: 15px;
    font-family: "Segoe UI VSS (Regular)","Segoe UI","-apple-system",BlinkMacSystemFont,Roboto,"Helvetica Neue",Helvetica,Ubuntu,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: .875rem;
}

.label-commentsandtags a {
    text-decoration: none;
}

.label-commentsandtags a:hover {
    text-decoration: underline;
}

.button-backtoitem {
    margin-left: 10px;
    font-size: .875rem;
    font-weight: 600;
    display: block;
    background-color: white;
    border: none;
    padding: 10px;
    align-items: center; /* Align items vertically */
    border-radius: 3px;
    font-family: "Soehne", system-ui, -apple-system, Helvetica Neue, Arial, sans-serif;
}

.button-backtoitem a {
    text-decoration: none;
    color: black;
}

.button-backtoitem .icon i{
    size: auto;
    vertical-align: middle;
    margin-right: 10px;
}

.button-follow .icon i{
    size: auto;
    vertical-align: middle;
    margin-right: 10px;
}

.button-backtoitem:hover {
    background-color: #f2f2f2; /* Change background color on hover */
}

.button-follow {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 10px;
    margin-right: 10px;
    font-size: .875rem;
    font-weight: 600;
    display: block;
    background-color: #f2f2f2;
    border: none;
    padding: 5px 10px;
    align-items: center; /* Align items vertically */
    border-radius: 3px;
    font-family: "Soehne", system-ui, -apple-system, Helvetica Neue, Arial, sans-serif;
}

.tag {
    margin-left: 5px;
    font-size: .6875rem;
    font-family: "Segoe UI VSS (Regular)","Segoe UI","-apple-system",BlinkMacSystemFont,Roboto,"Helvetica Neue",Helvetica,Ubuntu,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    background-color: #f2f2f2;
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
}

.box-header-info {
    width: auto;
    position: relative;
    background-color: #f2f2f2;
}

.label-updated {
    position: absolute;
    top: 0;
    right: 0;
    margin-bottom: 10px;
    margin-top: 2px;
    margin-right: 2px;
    font-size: .75rem;
    font-family: "Segoe UI VSS (Regular)","Segoe UI","-apple-system",BlinkMacSystemFont,Roboto,"Helvetica Neue",Helvetica,Ubuntu,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.buttons {
    padding-top: 30px;
    font-size: 0px;
    padding-bottom: 5px;
}

.button-details {
    font-weight: 600;
    font-family: "Segoe UI VSS (Regular)","Segoe UI","-apple-system",BlinkMacSystemFont,Roboto,"Helvetica Neue",Helvetica,Ubuntu,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: .875rem;
    padding: 5px 10px;
    display: inline-block;
    margin: 0;
    border-bottom: none;
    background-color: #f2f2f2;
    cursor: pointer;
    text-decoration: underline blue 2px;
    text-underline-offset: 5px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}


.button-history {
    font-weight: 600;
    font-family: "Segoe UI VSS (Regular)","Segoe UI","-apple-system",BlinkMacSystemFont,Roboto,"Helvetica Neue",Helvetica,Ubuntu,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: .875rem;
    padding: 5px 10px;
    display: inline-block;
    margin: 0;
    border-bottom: none;
    border-left: none;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background-color: #f2f2f2;
    cursor: pointer;
}

.button-attachements {
    font-weight: 600;
    font-family: "Segoe UI VSS (Regular)","Segoe UI","-apple-system",BlinkMacSystemFont,Roboto,"Helvetica Neue",Helvetica,Ubuntu,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: .875rem;
    padding: 5px 10px;
    display: inline-block;
    margin: 0;
    border-bottom: none;
    border-left: none;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background-color: #f2f2f2;
    cursor: pointer;
}

.button-attachements i {
    text-decoration: underline blue 2px;
    text-underline-offset: 5px;
}

.button-details,
.button-history {
    margin-right: 0; /* Remove margin between Details and History buttons */
}

.box-info-details {
    width: auto;
    height: auto;
    position: relative;
    padding: 20px;
}

.label-desc {
    font-weight: 600;
    font-size: 1rem;
    font-family: "Segoe UI VSS (Regular)","Segoe UI","-apple-system",BlinkMacSystemFont,Roboto,"Helvetica Neue",Helvetica,Ubuntu,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";   
}

.label-text {
    font-weight: bold;
    font-size: 14px;
    font-family: "Segoe UI VSS (Regular)","Segoe UI","-apple-system",BlinkMacSystemFont,Roboto,"Helvetica Neue",Helvetica,Ubuntu,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.box-info-attachments {
    width: auto;
    height: 700px;
    position: relative;
    padding: 20px;
}

.label-attachments {
    font-weight: 600;
    font-size: 1rem;
    font-family: "Segoe UI VSS (Regular)","Segoe UI","-apple-system",BlinkMacSystemFont,Roboto,"Helvetica Neue",Helvetica,Ubuntu,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";   
}

.line {
    width: 100%;
    border-top: 1px solid #ccc;
    margin-top: 10px;
    margin-bottom: 10px;
}

.table-attachments {
    width: 100%;
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    text-align: left;
    padding-bottom: 10px;
    font-size: .75rem;
    font-weight: 600;
    font-family: "Segoe UI VSS (Regular)","Segoe UI","-apple-system",BlinkMacSystemFont,Roboto,"Helvetica Neue",Helvetica,Ubuntu,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    border-bottom: 1px solid #ccc;
    color: rgba(0, 0, 0, .55);
}

td {
    padding-top: 8px;
    font-size: .875rem;
    font-family: "Segoe UI VSS (Regular)","Segoe UI","-apple-system",BlinkMacSystemFont,Roboto,"Helvetica Neue",Helvetica,Ubuntu,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

/* Shorten the width of the ID column */
td:first-child {
    width: 50px; /* Adjust the width as needed */
}

#slider-container {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  #slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  #left-btn, #right-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  cursor: pointer;
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px;
  outline: none;
  }

  #left-btn {
  left: 10px;
  }

  #right-btn {
  right: 10px;
  }

  .slide {
  min-width: 100%;
  box-sizing: border-box;
  width: 100%; /* Set a fixed width */
  height: 100%; /* Set a fixed height */
  padding: 5px;
  }

  .slide img {
  width: 300px;
  height: auto;
  object-fit: cover;
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  display: block;  /* Remove extra space below the image */
  margin: 0 auto;  /* Center the image horizontally */
  }

  .text-overlay{
    padding-bottom: 5px;
    font-size: 14px;
    font-family: "Segoe UI VSS (Regular)","Segoe UI","-apple-system",BlinkMacSystemFont,Roboto,"Helvetica Neue",Helvetica,Ubuntu,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  }